/**
    Description: Stylesheet File for the index.html
    Colors have been pickedup from the given word document using dev tools.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: chocolate; */
    background: #f2efee;
}

#banner {
    margin: 10vh 25vw;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

button {
    width: 100%;
    padding: 1vh;
    background: linear-gradient( 45deg, red, white, blue);
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    letter-spacing: 5px;
}

button:hover {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color:darkgreen;
}